<section class="my-3">
  <div class="container">
    <div class="align-items-center d-flex my-3">
      <h1 class="flex-fill h5">
        {{session.fullName}}
      </h1>
      <div class="align-self-center btn-group">
        <button class="btn btn-outline-secondary" disabled="disabled" type="button">
          {{fa-icon "question"}}
        </button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 pt-2">
        <div class="list-group">
          {{#link-to "protected.profile.index" class="list-group-item list-group-item-action"}}
            Summary
          {{/link-to}}
          {{#link-to "protected.profile.name" class="list-group-item list-group-item-action"}}
            Name
          {{/link-to}}
          {{#link-to "protected.profile.address" class="list-group-item list-group-item-action"}}
            Address/Phone
          {{/link-to}}
          {{#link-to "protected.profile.locale-timezone" class="list-group-item list-group-item-action"}}
            Locale/Timezone
          {{/link-to}}
          {{#link-to "protected.profile.change-password" class="list-group-item list-group-item-action"}}
            Change Password
          {{/link-to}}
          {{#link-to "protected.profile.configure-mfa" class="list-group-item list-group-item-action"}}
            Configure MFA
          {{/link-to}}
        </div>
      </div>
      <div class="col-sm-9 pt-2">
        {{outlet}}
      </div>
    </div>
  </div>
</section>
