<section class="my-3">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <fieldset>
          <legend>Update Profile</legend>
          <form class="form" onsubmit={{action (route-action "update" model)}}>
            <div class="form-group">
              <label for="js-given-name" class="control-label">Given Name</label>
              {{input
                aria-describedby="js-given-name-help"
                autofocus=true
                class="form-control"
                id="js-given-name"
                placeholder="Given Name"
                type="text"
                value=model.given_name
              }}
              <small id="js-given-name-help" class="form-text text-muted">
                What is your given/first name?
              </small>
            </div>
            <div class="form-group">
              <label for="js-family-name" class="control-label">Family Name</label>
              {{input
                aria-describedby="js-family-name-help"
                class="form-control"
                id="js-family-name"
                placeholder="Family Name"
                type="text"
                value=model.family_name
              }}
              <small id="js-family-name-help" class="form-text text-muted">
                What is your family/last name?
              </small>
            </div>
            <div class="form-group text-right">
              <button class="btn btn-outline-primary" type="submit">
                Update
              </button>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</section>