<section class="my-3">
  <div class="container">
    <div class="d-flex my-3">
      <h1 class="flex-fill">Configuration</h1>
      <div class="align-self-center">
      </div>
    </div>

    <div class="list-group">
      {{#link-to "protected.configuration.roles.index" class="list-group-item"}}
        Roles
      {{/link-to}}
    </div>
  </div>
</section>