<fieldset>
  <legend>Update Profile</legend>
  <form class="form" onsubmit={{action (route-action "update" session model)}}>
    <div class="form-group">
      <label for="js-website">Website</label>
      {{input-text
        aria-describedby="js-website-help"
        class="form-control"
        id="js-website"
        pattern="(https|http)://.*"
        placeholder="https://example.com"
        type="url"
        value=model.website
      }}
      <small id="js-website-help" class="form-text text-muted">
        Do you have a website?
      </small>
    </div>
    <div class="form-group text-right">
      <button class="btn btn-outline-primary" type="submit">
        Update
      </button>
    </div>
  </form>
</fieldset>
