<fieldset>
  <legend>Change My Password</legend>
  <form class="form" onsubmit={{action
    (route-action "changePassword" session model.currentPassword model.newPassword)}}>
    <div class="form-group d-none">
      <label for="js-username">Email Address</label>
      {{input
        aria-describedby="js-username-help"
        autocomplete="email"
        class="form-control"
        type="email"
        value=model.email
      }}
      <small id="js-username-help" class="form-text text-muted">Your email address.</small>
    </div>
    <div class="form-group">
      <label for="js-current-password">Current Password</label>
      {{input-text
        aria-describedby="js-current-password-help"
        autocomplete="current-password"
        autofocus=true
        class="form-control"
        id="js-current-password"
        placeholder="Current Password"
        type="password"
        value=model.currentPassword
      }}
      <small id="js-current-password-help" class="form-text text-muted">What is your current password?</small>
    </div>
    <div class="form-group">
      <label for="js-new-password">New Password</label>
      {{input-text
        aria-describedby="js-new-password-help"
        autocomplete="new-password"
        class="form-control"
        id="js-new-password"
        placeholder="New Password"
        type="password"
        value=model.newPassword
      }}
      <small id="js-new-password-help" class="form-text text-muted">What is your new password?</small>
    </div>
    <div class="form-group text-right">
      {{#link-to "forgot-password" (query-params email=session.email) class="btn btn-link text-danger"}}
        Forgot Password
      {{/link-to}}
      <button class="btn btn-outline-primary" type="submit">
        Change Password
      </button>
    </div>
  </form>
</fieldset>
