<section class="my-3">
  <div class="container">
    <div class="alert alert-danger">
      {{fa-icon "internet-explorer" mask="certificate" prefix="fab" pull="right" size="6x" transform="shrink-7"}}
      <h5>Congratulations!</h5>
      <p>
        Take great pride in knowing that you just broke the internet.
        Or wait, maybe the internet tubes are full?
      </p>
      <p>
        Please accept this Internet Exploder badge of honour!
      </p>
      <p>
        Badge and pride aside, we actually detected an unexpected error.
        To help you get through this tough time, below are the specifics that we were able to gather:
      </p>
      <ul>
        {{#each model.errors as |error|}}
          <li>
            <strong>{{error.title}}</strong>
            -
            {{error.detail}}
          </li>
        {{/each}}
      </ul>
      <p class="mb-0 small">
        ({{model.message}})
      </p>
    </div>
  </div>
</section>
