<section class="my-3">
  <div class="container">
    <div class="alert alert-info">
      <p><strong>I already have my Reset Password Code!</strong></p>
      <p>
        If you already have your Reset Password code please
        {{#link-to "reset-password"}}visit this page to supply your email address, code, and new password{{/link-to}}.
      </p>
    </div>
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <fieldset>
          <legend>Reset My Password</legend>
          <form class="form" onsubmit={{action (route-action "forgotPassword" session model.username)}}>
            <div class="form-group">
              <label for="js-username">Email Address</label>
              {{input-text
                aria-describedby="js-username-help"
                autocomplete="email"
                autofocus=true
                class="form-control"
                id="js-username"
                placeholder="Email Adddress"
                type="email"
                value=model.username
              }}
              <small id="js-username-help" class="form-text text-muted">Your email address.</small>
            </div>
            <div class="form-group text-right">
              <button class="btn btn-outline-primary" type="submit">
                Send My Reset Code
              </button>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</section>